<%= form_for(@badge_log) do |f| %>
  <% if @badge_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge_log.errors.count, "error") %> prohibited this badge_log from being saved:</h2>

      <ul>
      <% @badge_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge %><br>
    <%= f.select :badge_id, elements_options_for_select(@badges, nil,:name), :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :to_user %><br>
    <%= f.select :to_user_id, elements_options_for_select(@users, nil,:name), :include_blank => true %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Give New Badge" %>
  </div>
<% end %>
