<script language="JavaScript1.2">
$(document).ready( function() {
	$("#username").autocomplete({
			source: [ <%=raw @users.collect{|user| "'#{user.name}'"}.join(", ") %> ]
	});
});
function changeList() {
 var username = document.getElementById("user_name").value;
 var namelist = [ <%=raw @users.collect{|user| "'#{user.name}'"}.join(", ") %> ];
 var idlist = [ <%=raw @users.collect{|user| "'#{user.id}'"}.join(", ") %> ];
 var targetlist_name = []
 var targetlist_id = []
 reg = new RegExp(username, "i");
 for (i=0; i < namelist.length ; i++) {
   if (namelist[i].match(reg)) {
     targetlist_name.push(namelist[i]);
     targetlist_id.push(idlist[i]);
   };
 };
 selectBoxOptionsChange(targetlist_name,targetlist_id);
}
function selectBoxOptionsChange(valuedata, displaydata){
  	var select = document.getElementById("badge_log_to_user_id");
	select.length = 0;
	var optionsNum = valuedata.length;

    if (optionsNum > 0) {
	  for(var i=0; i < optionsNum; ++i){
		  select.options[i] = new Option(valuedata[i], displaydata[i]);
	  }
	}
}
function badgeicon(obj){
  var iconlist =[];
  var descriptionlist =[];
  <% @badges.each do |badge| %>
  iconlist[<%= badge.id %>] = "<%=raw image_tag(badge.file.disk_filename, :height => '128').gsub("\"", "'") if badge.file %>";
  descriptionlist[<%= badge.id %>] = "<%=raw badge.description %>";
  <% end %>
  document.getElementById("badgeicon").innerHTML = iconlist[obj.options[obj.selectedIndex].value];
  document.getElementById("badgedescription").innerHTML = descriptionlist[obj.options[obj.selectedIndex].value];
}
</script>
<%= form_for(@badge_log) do |f| %>
  <% if @badge_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge_log.errors.count, "error") %> prohibited this badge_log from being saved:</h2>

      <ul>
      <% @badge_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :badge %><br>
    <%= f.select :badge_id, elements_options_for_select(@badges, nil,:name), {:include_blank => true}, {:onchange => "badgeicon(this);"} %>
	<table><tr><th>icon</th><th>description</th></tr><tr height="150"><td><div id="badgeicon"></div></td><td><div id="badgedescription"></div></td></tr></table>
  </div>

  <div class="field">
    <%= f.label :to_user %><br>
	<%= autocomplete_field_tag :user_name, @users.try(:name), autocomplete_user_name_badge_logs_path, :id_element => "#badge_logs_to_user_id", :required => true, onblur: 'changeList();' %>
    <%= f.select :to_user_id, elements_options_for_select(@users, @touser,:name), :include_blank => true %>
  </div>
  

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Give New Badge"%>
  </div>
<% end %>
