<p id="notice"><%= notice %></p>
<h1>Listing badges</h1>
<%= link_to 'New Badge', new_badge_path %>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>CategoryName</th>
      <th>BadgeIcon</th>
      <th>Description</th>
      <th>Created_at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @badges.each do |badge| %>
      <tr>
        <td><%= badge.id %></td>
        <td><%= badge.name %></td>
        <td><%= badge.badge_category.name if badge.badge_category %></td>
        <td><%= image_tag(badge.file.disk_filename, :height => '64') if badge.file %></td>
        <td><%= badge.description %></td>
        <td><%= badge.created_at %></td>
        <td><%= link_to 'Destroy', badge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

