<h1>Listing badge_categories</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @badge_categories.each do |badge_category| %>
      <tr>
        <td><%= badge_category.id %></td>
        <td><%= link_to 'Show', badge_category %></td>
        <td><%= link_to 'Edit', edit_badge_category_path(badge_category) %></td>
        <td><%= link_to 'Destroy', badge_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Badge category', new_badge_category_path %>
