<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @badge_category.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @badge_category.name %>
</p>

<%= link_to 'Edit', edit_badge_category_path(@badge_category) %> |
<%= link_to 'Back', badge_categories_path %>
